.slider {
	position: absolute;
	z-index: -5;
	width: 99%;
	height: 98%;
	background-size: 105% 105%;
	background-position: center;
	border-radius: var(--widgets-border-radius);
	box-shadow: 0 0 15px #000000;
	margin: 0.5%;
}
