@import url("./DatetimeBlock/DatetimeBlock.css");
@import url("./SliderBlock/SliderBlock.css");
@import url("./WeatherBlock/WeatherBlock.css");

.main-content {
	height: 100%;
	padding: 1.5vw;
	box-shadow: 0 0 15px #000;
	display: grid;
	grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.weather-block {
	grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: end;
}

.datetime-block {
	grid-column: 2 / 4;
	grid-row: 3 / 4;
    justify-self: center;
}

.widget {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--widgets-bg-color);
	border-radius: var(--widgets-border-radius);
	padding: 0 10px 15px 10px;
	color: var(--widgets-text-color);
}
