@import url('./DatetimeBlock/DatetimeBlock.css');
@import url('./SliderBlock/SliderBlock.css');

.main-content {
    height: 60vh;
}

.main-content,
.datetime-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
