@import url("./variables.css");
@import url("./MainContent/main.css");
@import url("./animations.css");
@import url("./mobile.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--body-bg-color);
	height: 100vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button,
input {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

input:focus,
button:focus {
	outline: none;
}
