@media (height <= 500px) {
	.body {
		position: relative;
	}

	.main-content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: start;
		flex-wrap: wrap;
		height: 100vh;
	}

	.slider {
		position: fixed;
		height: 100vh;
		width: 100vw;
		border-radius: 0;
		top: 0;
		margin: 0;
	}

	.datetime-block {
		height: auto;
		margin: 1vw;
	}

	.weather-block,
	.datetime-block {
		width: 40vw;
		align-self: start;
	}

	.task-block {
		align-self: end;
	}

	.open-state {
		width: 55vw;
		height: 95vh;
	}
}

@media (width <= 1024px) {
	.main-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5vw;
	}

	.widget {
		align-self: center;
		width: 40vw;
		height: 30vh;
	}

	.open-state {
		width: 85vw;
		height: 60vh;
	}

	.clouse-button {
		padding: 5px 7px;
		border: 2px solid var(--widgets-text-color);
		border-radius: 5px;
	}

	.widget-form {
		width: 65%;
	}

	.slider {
		background-size: cover;
		position: fixed;
		height: 100vh;
		width: 100vw;
		border-radius: 0;
		top: 0;
		margin: 0;
	}
}

@media (width <= 500px) {
	.main-content {
		flex-direction: column;
		width: 100vw;
	}

	.widget {
		
		width: 90vw;
	}

	.widget-form {
		flex-direction: column;
	}

	.widget-form__input,
	.widget-form__button {
		width: 100%;
	}

	.widget-form__input {
		border-right: none;
		border-bottom: 2px solid var(--widgets-text-color);
	}
}
