.task-block {
	transition: 0.5s;
}

.widget-form,
.active,
.task-list__item {
	display: flex;
}

.clouse-button {
	align-self: flex-end;
	margin-inline-end: 5px;
}

.task-list {
	height: 72%;
	width: 90%;
	margin-block: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.task-list::-webkit-scrollbar {
	width: 5px;
}

.task-list::-webkit-scrollbar-track {
	background-color: transparent;
}

.task-list::-webkit-scrollbar-thumb {
	background-color: #ffffff25;
	border: 1px solid transparent;
}

.task-list::-webkit-scrollbar-track,
.task-list::-webkit-scrollbar-thumb {
	border-radius: var(--widgets-border-radius);
}

.widget-form {
	width: 85%;
}

.widget-form,
.delete-completed {
	border: 2px solid var(--widgets-text-color);
	border-radius: var(--widgets-border-radius);
}

.widget-button {
	transition: 0.2s;
}

.widget-form__button {
	width: 35%;
	border-radius: var(--widgets-border-radius);
}

.widget-button,
.widget-form__input {
	cursor: pointer;
	background-color: transparent;
	color: var(--widgets-text-color);
	padding: 10px;
}

.widget-form__input {
	width: 65%;
	border-right: 2px solid var(--widgets-text-color);
}

.clouse-state {
	width: 250px;
	height: 189px;
	cursor: pointer;
}

.open-state {
	width: 70%;
	height: 100%;
	justify-content: space-between;
}

.replacement,
.tooltip {
	text-align: center;
	justify-content: center;
}

.tooltip {
	display: none;
	font-size: 12px;
}

.clouse-state:hover > .tooltip {
	display: block;
}

.inactive {
	display: none;
}

.task-list__item {
	border-block-end: 1px solid var(--widgets-text-color);
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.task-list__text {
	text-wrap: wrap;
	width: clamp(125px, 70%, 70%);
}

.task-list__checkbox {
	appearance: none;
	position: relative;
	width: 15px;
	height: 15px;
	background: transparent;
	border-radius: 2px;
	border: 1px solid var(--widgets-text-color);
}

.task-list__checkbox:checked {
	background-image: url("../../../images/check.svg");
}

.task-list__button {
	padding: 15px;
	width: 18px;
	height: 18px;
	background-image: url("../../../images/delete-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	transition: 0.3s;
}

.task-list__button:focus-visible,
.task-list__button:hover {
	transform: rotateZ(-10deg);
}

.task-list__button:active::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	animation: delete-button-hover 0.3s forwards;
}

.widget-button:hover,
.widget-button:focus-visible {
	font-weight: 800;
}

.task-list__checkbox:focus-visible {
	border: 3px double var(--widgets-text-color);
}

.widget-form__button:active {
	transform: rotateZ(1deg);
}

.delete-completed:active {
	box-shadow: 0 0 15px var(--widgets-text-color) inset;
}

.clouse {
	animation: task-block-clousing 1s forwards;
}

.open {
	animation: task-block-opening 1.8s forwards;
}
