.weather-block {
    position: relative;
    padding: 10px;
    width: 130px;
    background-color: #00000010;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.weather-block__error,
.weather-block__title,
.weather-block__temperature,
.weather-block__description {
    z-index: 1;
}

.weather-block__title {
    font-size: 25px;
}

.weather-block__temperature {
    font-size: 45px;
}

.weather-block__icon {
    position: absolute;
    z-index: -1;
}
